.problemsYouMayFace {
    position: relative;
    &__titleTop {
        width: 95%;
        margin: 0 auto;
        font-weight: 300;
        font-size: 24px;
        line-height: 133.49%;
        margin-top: 70px;
    }
    &__wrapperTop {
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
    }
    &__wrapper {
        width: 45%;
        margin: 0 auto;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            height: 2px;
            background: #2B5EAA;
            width: 100%;
        }
        p {
            height: 350px;
            margin-top: 50px;
            font-size: 24px;
            line-height: 133.49%;
            font-weight: 300;
        }
        p:first-letter {
            color: #2B5EAA;
            font-weight: 500;
            font-size: 38px;
        }
        .moreIndent {
            height: 600px;
        }
        img {
            display: flex;
            margin: 0 auto;
            width: 99px;
            height: 99px;

            
        }        
    }
}