

.workExamples {
    .globalWrapper {
        margin-top: 60px;
        &__wrapper {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
        &__item1 {
            width: 39%;
            img {
                height: 100%;
                width: 100%;
            }
        }
        &__item2 {
            display: flex;
            justify-content: flex-end;
            width: 59%;
            img {
                height: 100%;
                width: 100%;
            }
        }
        &__wrapper2 {            
            width: 90%;
            height: 100%;
            margin: 0 auto;
            margin-top: 2%;
            display: flex;
            justify-content: space-between;
        }
        &__itemOne {
            flex-direction: column;
            width: 59%;
            height: 100%;
            img {
                width: 100%;
            }
        }
        &__itemTwo {
            flex-direction: column;
            width: 39%; 
            height: 50% !important;
            img {
                width: 100%;
            }
        }
        &__item4 {
            margin-top: 11.5%;
            img {
                height: 100%
            }
        }
        &__item3 {
            height: 100%;            
            img {
                height: 100%
            }
        }
        &__item6 {
            margin-top: 3%;
        }
    }
}